.single-helmet {
  background-color: #fff;
  border-radius: 8px;
  padding: 5px 20px;
  position: relative;

  min-height: 520px;
}

.single-helmet img {
  width: 100%;
  padding: 30px;
}

.single-helmet-price {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  color: red;
  font-weight: 600;
  font-size: 20px;
}

.single-helmet h4 {
  font-weight: 600;
  padding-bottom: 20px;
}

.single-helmet h6 span {
  font-weight: 600;
}

.single-helmet-inner {
  position: absolute;

  bottom: 120px;
  right: 20px;
  opacity: 0;
  transition: all 0.3s;
}

.single-helmet a {
  text-decoration: none;
  background-color: #e52727;
  padding: 12px 30px;
  color: #fff;
  font-weight: 500;
  border-radius: 60px;
  position: relative;

  transition: all 0.6s;
}

.single-helmet a:hover {
  color: #fff;
}

.single-helmet:hover .single-helmet-inner {
  opacity: 1;
  bottom: 160px;
}

@media only screen and (max-width: 600px) {
  .single-helmet {
    min-height: auto;
  }
}
